@CHARSET "UTF-8";

@font-face {
	font-family: TipografiaGobBold;
	src: url('../fonts/gobCL_Bold.otf');
}

@font-face {
	font-family: TipografiaGobRegular;
	src: url('../fonts/gobCL_Regular.otf');
}

.z-label, .z-radio-content, .z-checkbox-content {
    font-size: 14px;
}

.z-tab-text {
	font-size: 14px;
	margin-left: 10px;
    margin-right: 10px;
}

.z-textbox {
	width: 90%;
	min-height: 30px;
	font-size: 13px;
}

 .z-datebox-input {
 	width:130%;
 }
 
 .z-caption {
    font-size: 14px;
 }
 
 .botonResponsable {
     width: 25%;
    font-size: 14px;
    background: #1E81C3;
 }
 
 
.z-combobox-input, .z-bandbox-input, .z-datebox-input, .z-timebox-input, .z-spinner-input, .z-doublespinner-input{
	width: 90%;
	min-height: 30px;
	font-size: 13px;
}

.z-combobox-button, .z-bandbox-button, .z-datebox-button, .z-timebox-button, .z-spinner-button, .z-doublespinner-button {
	    height: 30px;
}

.z-combobox-icon, .z-bandbox-icon, .z-datebox-icon, .z-timebox-icon, .z-spinner-icon, .z-doublespinner-icon {
    font-size: 14px;
}

.z-combobox-popup, .z-bandbox-popup, .z-datebox-popup, .z-timebox-popup {
		font-size: 13px;
		}
 
.z-listitem-selected>.z-listcell {
    background: #E8EEF3;
}

.z-listcell-content, .z-listgroup-content, .z-listgroupfoot-content, .z-listfooter-content {
    font-size: 13px;
}

.text {
  font-size:14px;
  color:black;
  text-transform:uppercase;
  padding: 35%;
}
  
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.panel-vistas{
	width: 94.7%;
	margin-left: 3.5%;
}

.panel-vistas-mantenedores {
    width: 75%;
    margin-left: 14.5%;
    margin-top: 20px;
}

.botonAdjuntar {
    font-size: 13px;
    background: #1e81c3;
    height: 29px;
}

 .z-button:hover {
    background: #1e81c3;
}